@import'./node_modules/reset-css/sass/reset';

@import'./node_modules/et-line/style';
$fa-font-path: '~font-awesome/fonts/';
@import './node_modules/font-awesome/scss/font-awesome';
@import'./fonts.scss';

$color-hover-text: #c7b299;

@mixin title-medium($size) {
    font-family: 'Raleway';
    font-size: $size;
    font-weight: 500;
}


@mixin montserrat($size: 14px, $weight: normal){
    font-family: 'Montserrat';
    font-size: $size;
    font-weight: $weight;
}

.default-option{
    @include montserrat(34px, 300);
    color: #8c8c8c;
}

.text{
    font-family: 'Ubuntu';
    font-weight: normal;
    font-style: italic;
    color: blue;
}
