@import'./node_modules/reset-css/sass/reset';
@import'./fonts.scss';

$color-primary: #939598; //color for content
$color-primary-alt: #4c4c4c; //for title element
$color-secondary: #1abc9c; //for hover, span, etc.


@mixin ubuntu-font($size: 14px, $weight: normal){
    font-family: 'Ubuntu';
    font-size: $size;
    font-weight: $weight;
}

.default-option{
    @include ubuntu-font(14px, 300);
    color: $color-primary;
}

.alt-text{
    color: $color-secondary;
}

.vimeo-video{
    position: relative;
    width: 556px;
    height: 314px;
    background: url('./images/video-image.png') no-repeat;
}

